<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.emgcy.core.system.dict.mapper.DictInfoMapper">

	<!-- 
		  @author:chenshuzhuo
 		  @since :2017-11-30
	 -->
	 
	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.emgcy.core.system.dict.entity.DictInfo">
		<id column="id" property="id" />
		<result column="dict_code" property="dictCode" />
		<result column="dict_name" property="dictName" />
		<result column="is_enable" property="isEnable" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, dict_code AS dictCode, dict_name AS dictName, is_enable AS isEnable
    </sql>

	<!-- mybatis plus where -->
    <sql id="entityWrapperJoin">
        <where>
        	<if test="ew != null">
    			<if test="ew.entity != null">
                	<if test="ew.entity.id!=null">
                    	AND cur_tab.id=#{ew.entity.id}
                	</if>
                	<if test="ew.entity.dictCode!=null and ew.entity.dictCode!=''">
                    	AND cur_tab.dict_code=#{ew.entity.dictCode}
                	</if>
                	<if test="ew.entity.dictName!=null and ew.entity.dictName!=''">
                    	AND cur_tab.dict_name=#{ew.entity.dictName}
                	</if>
                	<if test="ew.entity.isEnable!=null">
                    	AND cur_tab.is_enable=#{ew.entity.isEnable}
                	</if>
                	<if test="ew.entity.delFlag!=null and ew.entity.delFlag!=''">
                    	AND cur_tab.del_flag=#{ew.entity.delFlag}
                	</if>
				</if>
            	<if test="ew!=null and ew.sqlSegment!=null and ew.notEmptyOfWhere">
                	${ew.sqlSegment}
            	</if>
			</if>
        </where>
        <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">
            ${ew.sqlSegment}
        </if>
	</sql>




</mapper>
