<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shuzhuo.core.system.sys.mapper.MenuMapper">

	<!-- 
		  @author:buguangyi
 		  @since :2017-12-28
	 -->
	 
	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.shuzhuo.core.system.sys.entity.Menu">
		<id column="id" property="id" />
		<result column="menu_type" property="menuType" />
		<result column="parent_id" property="parentId" />
		<result column="name" property="name" />
		<result column="code" property="code" />
		<result column="perms" property="perms" />
		<result column="type" property="type" />
		<result column="icon" property="icon" />
		<result column="user_type" property="userType" />
		<result column="is_show" property="isShow" />
		<result column="order_num" property="orderNum" />
	    <result column="create_by" property="createBy" />
	    <result column="create_time" property="createTime" />
	    <result column="update_by" property="updateBy" />
	    <result column="update_time" property="updateTime" />
	    <result column="del_flag" property="delFlag" />
	    <result column="remark" property="remark" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
	create_by AS createBy,
	create_time AS createTime,
	update_by AS updateBy,
	update_time AS updateTime,
	del_flag AS delFlag,
	remark,
        id, menu_type AS menuType, parent_id AS parentId, name, code, perms, type, icon, user_type AS userType, is_show AS isShow, order_num AS orderNum
    </sql>

	<!-- mybatis plus where -->
    <sql id="entityWrapperJoin">
        <where>
        	<if test="ew != null">
    			<if test="ew.entity != null">
                	<if test="ew.entity.id!=null">
                    	AND cur_tab.id=#{ew.entity.id}
                	</if>
                	<if test="ew.entity.menuType!=null">
                    	AND cur_tab.menu_type=#{ew.entity.menuType}
                	</if>
                	<if test="ew.entity.parentId!=null">
                    	AND cur_tab.parent_id=#{ew.entity.parentId}
                	</if>
                	<if test="ew.entity.name!=null and ew.entity.name!=''">
                    	AND cur_tab.name=#{ew.entity.name}
                	</if>
                	<if test="ew.entity.code!=null and ew.entity.code!=''">
                    	AND cur_tab.code=#{ew.entity.code}
                	</if>
                	<if test="ew.entity.perms!=null and ew.entity.perms!=''">
                    	AND cur_tab.perms=#{ew.entity.perms}
                	</if>
                	<if test="ew.entity.type!=null">
                    	AND cur_tab.type=#{ew.entity.type}
                	</if>
                	<if test="ew.entity.icon!=null and ew.entity.icon!=''">
                    	AND cur_tab.icon=#{ew.entity.icon}
                	</if>
                	<if test="ew.entity.userType!=null and ew.entity.userType!=''">
                    	AND cur_tab.user_type=#{ew.entity.userType}
                	</if>
                	<if test="ew.entity.isShow!=null">
                    	AND cur_tab.is_show=#{ew.entity.isShow}
                	</if>
                	<if test="ew.entity.orderNum!=null">
                    	AND cur_tab.order_num=#{ew.entity.orderNum}
                	</if>
        			<if test="ew.entity.createBy!=null">
        				AND cur_tab.create_by=#{ew.entity.createBy}
        			</if>
        			<if test="ew.entity.createTime!=null">
        				AND cur_tab.create_time=#{ew.entity.createTime}
        			</if>
        			<if test="ew.entity.updateBy!=null">
        				AND cur_tab.update_by=#{ew.entity.updateBy}
        			</if>
        			<if test="ew.entity.updateTime!=null">
        				AND cur_tab.update_time=#{ew.entity.updateTime}
        			</if>
        			<if test="ew.entity.delFlag!=null">
        				AND cur_tab.del_flag=#{ew.entity.delFlag}
        			</if>
        			<if test="ew.entity.remark!=null and ew.entity.remark!=''">
        				AND cur_tab.remark=#{ew.entity.remark}
        			</if>
				</if>
            	<if test="ew!=null and ew.sqlSegment!=null and ew.notEmptyOfWhere">
                	${ew.sqlSegment}
            	</if>
			</if>
        </where>
        <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">
            ${ew.sqlSegment}
        </if>
	</sql>
	
	<!-- 查询角色的所有菜单ID --> 
	<select id="queryRoleMenuId" resultType="long">
		select distinct m.id from sys_role_menu rm 
		LEFT JOIN sys_menu m on rm.menu_id = m.id 
		where rm.role_id = #{roleId} 
		and m.is_show = 1
		and m.del_flag = 0
	</select>
	
	<!-- 根据用户类型查询前台或后台的菜单ID --> 
	<select id="getMenuList" resultType="long">
		select distinct m.id from sys_menu m
		where 
		<if test="menuType!=null">
			m.menu_type = #{menuType} and
		</if>
		m.is_show = 1 
		and m.user_type like concat('%',#{userType},'%')
		and m.del_flag = 0
	</select>
	
	<!-- 查询用户的所有菜单ID --> 
	<select id="queryAllMenuId" resultType="long">
		select distinct rm.menu_id from sys_user_role ur 
		LEFT JOIN sys_role_menu rm on ur.role_id = rm.role_id 
		LEFT JOIN sys_menu m on rm.menu_id = m.id
		where ur.user_id = #{userId}
		and m.is_show = 1
		and m.del_flag = 0
	</select>
	
	<!-- 根据用户类型查询前台或后台的菜单 --> 
	<select id="getMenuList2" resultType="com.shuzhuo.core.system.sys.entity.Menu">
		select distinct m.* from sys_menu m
		where m.is_show = 1 
		and m.user_type like concat('%',#{userType},'%')
		and m.del_flag = 0
	</select>
	
	<!-- 查询用户的所有菜单 --> 
	<select id="queryAllMenuId2" resultType="com.shuzhuo.core.system.sys.entity.Menu">
		select distinct m.* from sys_user_role ur 
		LEFT JOIN sys_role_menu rm on ur.role_id = rm.role_id 
		LEFT JOIN sys_menu m on rm.menu_id = m.id
		where ur.user_id = #{userId}
		and m.is_show = 1
		and m.del_flag = 0
	</select>

	<resultMap id="RoleNametMap" type="com.emgcy.core.system.auditcenter.dto.RoleNameDTO">
		<result column="roleId" property="roleId" />
		<result column="roleName" property="roleName" />
	</resultMap>

	<!-- 根据code获取角色名称 -->
	<select id="selectRoleNameByCode" parameterType="com.shuzhuo.core.system.sys.entity.Menu" resultMap="RoleNametMap">
		SELECT
			role.id AS roleId,
			role.role_name AS roleName
		FROM
			sys_menu cur_tab
		LEFT JOIN sys_role_menu roleMenu ON cur_tab.id = roleMenu.menu_id
		LEFT JOIN sys_role role ON role.id = roleMenu.role_id
			<include refid="entityWrapperJoin"/>
	</select>

</mapper>
