<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.emgcy.core.system.sys.mapper.OrgMapper">

	<!-- 
		  @author:buguangyi
 		  @since :2017-12-25
	 -->
	 
	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.emgcy.core.system.sys.entity.Org">
		<id column="id" property="id" />
		<result column="uuid" property="uuid" />
		<result column="parent_id" property="parentId" />
		<result column="code" property="code" />
		<result column="name" property="name" />
		<result column="type" property="type" />
		<result column="description" property="description" />
		<result column="telephone" property="telephone" />
		<result column="address" property="address" />
		<result column="website" property="website" />
		<result column="logo" property="logo" />
		<result column="level" property="level" />
		<result column="hospital_type" property="hospitalType" />
		<result column="longitude" property="longitude" />
		<result column="latitude" property="latitude" />
		<result column="order_num" property="orderNum" />
	    <result column="create_by" property="createBy" />
	    <result column="create_time" property="createTime" />
	    <result column="update_by" property="updateBy" />
	    <result column="update_time" property="updateTime" />
	    <result column="del_flag" property="delFlag" />
	    <result column="remark" property="remark" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
	create_by AS createBy,
	create_time AS createTime,
	update_by AS updateBy,
	update_time AS updateTime,
	del_flag AS delFlag,
	remark,
        id, uuid, parent_id AS parentId, code, name, type, description, telephone, address, website, logo, level, hospital_type AS hospitalType, longitude, latitude, order_num AS orderNum
    </sql>

	<!-- mybatis plus where -->
    <sql id="entityWrapperJoin">
        <where>
        	<if test="ew != null">
    			<if test="ew.entity != null">
                	<if test="ew.entity.id!=null">
                    	AND cur_tab.id=#{ew.entity.id}
                	</if>
                	<if test="ew.entity.uuid!=null and ew.entity.uuid!=''">
                    	AND cur_tab.uuid=#{ew.entity.uuid}
                	</if>
                	<if test="ew.entity.parentId!=null">
                    	AND cur_tab.parent_id=#{ew.entity.parentId}
                	</if>
                	<if test="ew.entity.code!=null and ew.entity.code!=''">
                    	AND cur_tab.code=#{ew.entity.code}
                	</if>
                	<if test="ew.entity.name!=null and ew.entity.name!=''">
                    	AND cur_tab.name=#{ew.entity.name}
                	</if>
                	<if test="ew.entity.type!=null">
                    	AND cur_tab.type=#{ew.entity.type}
                	</if>
                	<if test="ew.entity.description!=null and ew.entity.description!=''">
                    	AND cur_tab.description=#{ew.entity.description}
                	</if>
                	<if test="ew.entity.telephone!=null and ew.entity.telephone!=''">
                    	AND cur_tab.telephone=#{ew.entity.telephone}
                	</if>
                	<if test="ew.entity.address!=null and ew.entity.address!=''">
                    	AND cur_tab.address=#{ew.entity.address}
                	</if>
                	<if test="ew.entity.website!=null and ew.entity.website!=''">
                    	AND cur_tab.website=#{ew.entity.website}
                	</if>
                	<if test="ew.entity.logo!=null and ew.entity.logo!=''">
                    	AND cur_tab.logo=#{ew.entity.logo}
                	</if>
                	<if test="ew.entity.level!=null">
                    	AND cur_tab.level=#{ew.entity.level}
                	</if>
                	<if test="ew.entity.hospitalType!=null">
                    	AND cur_tab.hospital_type=#{ew.entity.hospitalType}
                	</if>
                	<if test="ew.entity.longitude!=null">
                    	AND cur_tab.longitude=#{ew.entity.longitude}
                	</if>
                	<if test="ew.entity.latitude!=null">
                    	AND cur_tab.latitude=#{ew.entity.latitude}
                	</if>
                	<if test="ew.entity.orderNum!=null">
                    	AND cur_tab.order_num=#{ew.entity.orderNum}
                	</if>
        			<if test="ew.entity.createBy!=null">
        				AND cur_tab.create_by=#{ew.entity.createBy}
        			</if>
        			<if test="ew.entity.createTime!=null">
        				AND cur_tab.create_time=#{ew.entity.createTime}
        			</if>
        			<if test="ew.entity.updateBy!=null">
        				AND cur_tab.update_by=#{ew.entity.updateBy}
        			</if>
        			<if test="ew.entity.updateTime!=null">
        				AND cur_tab.update_time=#{ew.entity.updateTime}
        			</if>
        			<if test="ew.entity.delFlag!=null">
        				AND cur_tab.del_flag=#{ew.entity.delFlag}
        			</if>
        			<if test="ew.entity.remark!=null and ew.entity.remark!=''">
        				AND cur_tab.remark=#{ew.entity.remark}
        			</if>
				</if>
            	<if test="ew!=null and ew.sqlSegment!=null and ew.notEmptyOfWhere">
                	${ew.sqlSegment}
            	</if>
			</if>
        </where>
        <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">
            ${ew.sqlSegment}
        </if>
	</sql>

	<select id="queryList" resultType="com.emgcy.core.system.sys.entity.Org">
		select cur_tab.*,
		(select d.dict_item_value from cr_dict_item d where d.id = cur_tab.level) levelName ,
		(select d.dict_item_value from cr_dict_item d where d.id = cur_tab.hospital_type) hospitalTypeName 
		from sys_org cur_tab
		<include refid="entityWrapperJoin"/>
	</select>
	
	<select id="selectDept" resultType="com.emgcy.core.system.sys.entity.Org">
		select cur_tab.*,o.name parentName
		from sys_org cur_tab
		LEFT JOIN sys_org o on cur_tab.parent_id = o.id
		<where>
        	<if test="ew != null">
    			<if test="ew.entity != null">
                	<if test="ew.entity.name!=null and ew.entity.name!=''">
                    	AND cur_tab.name like concat('%',#{ew.entity.name},'%')
                	</if>
                	<if test="ew.entity.hospitalId!=null">
                    	AND (cur_tab.parent_id=#{ew.entity.hospitalId} OR o.parent_id=#{ew.entity.hospitalId})
                	</if>
        			<if test="ew.entity.delFlag!=null">
        				AND cur_tab.del_flag=#{ew.entity.delFlag}
        			</if>
				</if>
				AND (cur_tab.type=2 OR cur_tab.type=3)
            	<if test="ew!=null and ew.sqlSegment!=null and ew.notEmptyOfWhere">
                	${ew.sqlSegment}
            	</if>
			</if>
        </where>
        <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">
            ${ew.sqlSegment}
        </if>
	</select>
	
	<!-- 根据名称查询科室 -->
	<select id="selectDeptByName" resultType="long">
		select cur_tab.id
		from sys_org cur_tab
		LEFT JOIN sys_org o on cur_tab.parent_id = o.id
		WHERE cur_tab.name = #{name}
		AND (cur_tab.parent_id=#{hospitalId} OR o.parent_id=#{hospitalId})
		AND (cur_tab.type=2 OR cur_tab.type=3)
		AND cur_tab.del_flag=0
		ORDER BY cur_tab.type desc
	</select>
	
	<select id="selectOrgById" resultType="com.emgcy.core.system.sys.entity.Org">
		select cur_tab.*,
		(select d.name from sys_org d where d.id = cur_tab.parent_id) parentName
		from sys_org cur_tab
		where cur_tab.id = #{id}
	</select>
	
	<update id="delDeptBatch">
		update sys_org set del_flag = -1 where id in
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</update>
	
</mapper>
