<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.emgcy.core.system.sys.mapper.RoleMenuMapper">

	<!-- 
		  @author:buguangyi
 		  @since :2017-12-29
	 -->
	 
	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.emgcy.core.system.sys.entity.RoleMenu">
		<id column="id" property="id" />
		<result column="role_id" property="roleId" />
		<result column="menu_id" property="menuId" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, role_id AS roleId, menu_id AS menuId
    </sql>

	<!-- mybatis plus where -->
    <sql id="entityWrapperJoin">
        <where>
        	<if test="ew != null">
    			<if test="ew.entity != null">
                	<if test="ew.entity.id!=null">
                    	AND cur_tab.id=#{ew.entity.id}
                	</if>
                	<if test="ew.entity.roleId!=null">
                    	AND cur_tab.role_id=#{ew.entity.roleId}
                	</if>
                	<if test="ew.entity.menuId!=null">
                    	AND cur_tab.menu_id=#{ew.entity.menuId}
                	</if>
				</if>
            	<if test="ew!=null and ew.sqlSegment!=null and ew.notEmptyOfWhere">
                	${ew.sqlSegment}
            	</if>
			</if>
        </where>
        <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">
            ${ew.sqlSegment}
        </if>
	</sql>




</mapper>
