<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.emgcy.core.system.resource.mapper.ScheduleMapper">

	<!-- 
		  @author:buguangyi
 		  @since :2018-02-01
	 -->
	 
	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.emgcy.core.system.resource.entity.Schedule">
		<id column="id" property="id" />
		<result column="user_id" property="userId" />
		<result column="sche_date" property="scheDate" />
		<result column="sche_id" property="scheId" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id AS userId, sche_date AS scheDate, sche_id AS scheId
    </sql>

	<!-- mybatis plus where -->
    <sql id="entityWrapperJoin">
        <where>
        	<if test="ew != null">
    			<if test="ew.entity != null">
                	<if test="ew.entity.id!=null">
                    	AND cur_tab.id=#{ew.entity.id}
                	</if>
                	<if test="ew.entity.userId!=null">
                    	AND cur_tab.user_id=#{ew.entity.userId}
                	</if>
                	<if test="ew.entity.scheDate!=null">
                    	AND cur_tab.sche_date=#{ew.entity.scheDate}
                	</if>
                	<if test="ew.entity.scheId!=null">
                    	AND cur_tab.sche_id=#{ew.entity.scheId}
                	</if>
				</if>
            	<if test="ew!=null and ew.sqlSegment!=null and ew.notEmptyOfWhere">
                	${ew.sqlSegment}
            	</if>
			</if>
        </where>
        <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">
            ${ew.sqlSegment}
        </if>
	</sql>
	
	<!-- 查询人员排班列表 -->
	<select id="selectSchedule" resultType="com.emgcy.core.system.resource.entity.Schedule">
		select cur_tab.*,u.name,
		(select o.name from sys_org o where o.id = u.org_dept_id) deptName,
		(select s.name from cr_schedule_set s where s.id = cur_tab.sche_id) scheName
		from cr_schedule cur_tab
		LEFT JOIN sys_user u on cur_tab.user_id = u.id
		<where>
        	<if test="ew != null">
    			<if test="ew.entity != null">
<!--     				<if test="ew.entity.orgHospitalId!=null">
                    	AND u.org_hospital_id=#{ew.entity.orgHospitalId}
                	</if>
                	<if test="ew.entity.orgDeptId!=null">
                    	AND u.org_dept_id=#{ew.entity.orgDeptId}
                	</if>
                	<if test="ew.entity.name!=null and ew.entity.name!=''">
                    	AND u.name like concat('%',#{ew.entity.name},'%')
                	</if> -->
        			<if test="ew.entity.scheDateStart!=null">
        				AND cur_tab.sche_date &gt;= #{ew.entity.scheDateStart}
        			</if>
        			<if test="ew.entity.scheDateEnd!=null">
        				AND cur_tab.sche_date &lt;= #{ew.entity.scheDateEnd}
        			</if>
        			<if test="ew.entity.userIds!=null">
						AND cur_tab.user_id in
						<foreach item="userId" collection="ew.entity.userIds" open="(" separator="," close=")">
							#{userId}
						</foreach>
        			</if>
				</if>
			</if>
        </where>
        order by u.name
	</select>
	
	<!-- 查询人员排班分页后的用户id -->
	<select id="selectScheduleUserIds" resultType="long">
		select cur_tab.user_id
		from cr_schedule cur_tab
		LEFT JOIN sys_user u on cur_tab.user_id = u.id
		<where>
        	<if test="ew != null">
    			<if test="ew.entity != null">
    				<if test="ew.entity.orgHospitalId!=null">
                    	AND u.org_hospital_id=#{ew.entity.orgHospitalId}
                	</if>
                	<if test="ew.entity.orgDeptId!=null">
                    	AND u.org_dept_id=#{ew.entity.orgDeptId}
                	</if>
                	<if test="ew.entity.name!=null and ew.entity.name!=''">
                    	AND u.name like concat('%',#{ew.entity.name},'%')
                	</if>
				</if>
            	<if test="ew!=null and ew.sqlSegment!=null and ew.notEmptyOfWhere">
                	${ew.sqlSegment}
            	</if>
			</if>
        </where>
        group by cur_tab.user_id
        <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">
            ${ew.sqlSegment}
        </if>
	</select>

</mapper>
