<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shuzhuo.core.system.sys.mapper.UserAttachmentMapper">

	<!-- 
		  @author:buguangyi
 		  @since :2018-01-10
	 -->
	 
	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.shuzhuo.core.system.sys.entity.UserAttachment">
		<id column="id" property="id" />
		<result column="user_id" property="userId" />
		<result column="attach_md5" property="attachMd5" />
		<result column="attach_type" property="attachType" />
		<result column="create_by" property="createBy" />
		<result column="create_time" property="createTime" />
		<result column="update_by" property="updateBy" />
		<result column="update_time" property="updateTime" />
		<result column="remark" property="remark" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id AS userId, attach_md5 AS attachMd5, attach_type AS attachType, create_by AS createBy, create_time AS createTime, update_by AS updateBy, update_time AS updateTime, remark
    </sql>

	<!-- mybatis plus where -->
    <sql id="entityWrapperJoin">
        <where>
        	<if test="ew != null">
    			<if test="ew.entity != null">
                	<if test="ew.entity.id!=null">
                    	AND cur_tab.id=#{ew.entity.id}
                	</if>
                	<if test="ew.entity.userId!=null">
                    	AND cur_tab.user_id=#{ew.entity.userId}
                	</if>
                	<if test="ew.entity.attachMd5!=null and ew.entity.attachMd5!=''">
                    	AND cur_tab.attach_md5=#{ew.entity.attachMd5}
                	</if>
                	<if test="ew.entity.attachType!=null">
                    	AND cur_tab.attach_type=#{ew.entity.attachType}
                	</if>
                	<if test="ew.entity.createBy!=null">
                    	AND cur_tab.create_by=#{ew.entity.createBy}
                	</if>
                	<if test="ew.entity.createTime!=null">
                    	AND cur_tab.create_time=#{ew.entity.createTime}
                	</if>
                	<if test="ew.entity.updateBy!=null">
                    	AND cur_tab.update_by=#{ew.entity.updateBy}
                	</if>
                	<if test="ew.entity.updateTime!=null">
                    	AND cur_tab.update_time=#{ew.entity.updateTime}
                	</if>
                	<if test="ew.entity.remark!=null and ew.entity.remark!=''">
                    	AND cur_tab.remark=#{ew.entity.remark}
                	</if>
				</if>
            	<if test="ew!=null and ew.sqlSegment!=null and ew.notEmptyOfWhere">
                	${ew.sqlSegment}
            	</if>
			</if>
        </where>
        <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">
            ${ew.sqlSegment}
        </if>
	</sql>




</mapper>
