<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shuzhuo.core.system.sys.mapper.UserMapper">

	<!-- 
		  @author:buguangyi
 		  @since :2018-01-17
	 -->
	 
	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.shuzhuo.core.system.sys.entity.User">
		<id column="id" property="id" />
		<result column="uuid" property="uuid" />
		<result column="org_hospital_id" property="orgHospitalId" />
		<result column="org_dept_id" property="orgDeptId" />
		<result column="employee_id" property="employeeId" />
		<result column="name" property="name" />
		<result column="user_name" property="userName" />
		<result column="sign_password" property="signPassword" />
		<result column="password" property="password" />
		<result column="salt" property="salt" />
		<result column="sex" property="sex" />
		<result column="birthday" property="birthday" />
		<result column="phone" property="phone" />
		<result column="id_card" property="idCard" />
		<result column="email" property="email" />
		<result column="address" property="address" />
		<result column="photo" property="photo" />
		<result column="signature" property="signature" />
		<result column="job_title" property="jobTitle" />
		<result column="position" property="position" />
		<result column="dispatch" property="dispatch" />
		<result column="user_type" property="userType" />
		<result column="major" property="major" />
		<result column="summary" property="summary" />
		<result column="status" property="status" />
		<result column="staff_status" property="staffStatus" />
		<result column="register_time" property="registerTime" />
		<result column="login_time" property="loginTime" />
		<result column="login_ip" property="loginIp" />
		<result column="online" property="online" />
		<result column="expert" property="expert" />
	    <result column="create_by" property="createBy" />
	    <result column="create_time" property="createTime" />
	    <result column="update_by" property="updateBy" />
	    <result column="update_time" property="updateTime" />
	    <result column="del_flag" property="delFlag" />
	    <result column="remark" property="remark" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
	create_by,
	create_time,
	update_by,
	update_time,
	del_flag,
	remark,
        id, uuid, org_hospital_id AS orgHospitalId, org_dept_id AS orgDeptId, employee_id AS employeeId, name, user_name AS userName, sign_password AS signPassword, password, salt, sex, birthday, phone, id_card AS idCard, email, address, photo, signature, job_title AS jobTitle, position, dispatch, user_type AS userType, major, summary, status, staff_status AS staffStatus, register_time AS registerTime, login_time AS loginTime, login_ip AS loginIp, online, expert
    </sql>

	<!-- mybatis plus where -->
    <sql id="entityWrapperJoin">
        <where>
        	<if test="ew != null">
    			<if test="ew.entity != null">
                	<if test="ew.entity.id!=null">
                    	AND u.id=#{ew.entity.id}
                	</if>
                	<if test="ew.entity.uuid!=null and ew.entity.uuid!=''">
                    	AND u.uuid=#{ew.entity.uuid}
                	</if>
                	<if test="ew.entity.orgHospitalId!=null">
                    	AND u.org_hospital_id=#{ew.entity.orgHospitalId}
                	</if>
                	<if test="ew.entity.orgDeptId!=null">
                    	AND u.org_dept_id=#{ew.entity.orgDeptId}
                	</if>
                	<if test="ew.entity.employeeId!=null and ew.entity.employeeId!=''">
                    	AND u.employee_id=#{ew.entity.employeeId}
                	</if>
                	<if test="ew.entity.name!=null and ew.entity.name!=''">
                    	AND u.name=#{ew.entity.name}
                	</if>
                	<if test="ew.entity.userName!=null and ew.entity.userName!=''">
                    	AND u.user_name=#{ew.entity.userName}
                	</if>
                	<if test="ew.entity.signPassword!=null and ew.entity.signPassword!=''">
                    	AND u.sign_password=#{ew.entity.signPassword}
                	</if>
                	<if test="ew.entity.password!=null and ew.entity.password!=''">
                    	AND u.password=#{ew.entity.password}
                	</if>
                	<if test="ew.entity.salt!=null and ew.entity.salt!=''">
                    	AND u.salt=#{ew.entity.salt}
                	</if>
                	<if test="ew.entity.sex!=null">
                    	AND u.sex=#{ew.entity.sex}
                	</if>
                	<if test="ew.entity.birthday!=null">
                    	AND u.birthday=#{ew.entity.birthday}
                	</if>
                	<if test="ew.entity.phone!=null and ew.entity.phone!=''">
                    	AND u.phone=#{ew.entity.phone}
                	</if>
                	<if test="ew.entity.idCard!=null and ew.entity.idCard!=''">
                    	AND u.id_card=#{ew.entity.idCard}
                	</if>
                	<if test="ew.entity.email!=null and ew.entity.email!=''">
                    	AND u.email=#{ew.entity.email}
                	</if>
                	<if test="ew.entity.address!=null and ew.entity.address!=''">
                    	AND u.address=#{ew.entity.address}
                	</if>
                	<if test="ew.entity.photo!=null and ew.entity.photo!=''">
                    	AND u.photo=#{ew.entity.photo}
                	</if>
                	<if test="ew.entity.signature!=null and ew.entity.signature!=''">
                    	AND u.signature=#{ew.entity.signature}
                	</if>
                	<if test="ew.entity.jobTitle!=null">
                    	AND u.job_title=#{ew.entity.jobTitle}
                	</if>
                	<if test="ew.entity.position!=null and ew.entity.position!=''">
                    	AND u.position=#{ew.entity.position}
                	</if>
                	<if test="ew.entity.dispatch!=null">
                    	AND u.dispatch=#{ew.entity.dispatch}
                	</if>
                	<if test="ew.entity.userType!=null">
                    	AND u.user_type=#{ew.entity.userType}
                	</if>
                	<if test="ew.entity.major!=null and ew.entity.major!=''">
                    	AND u.major=#{ew.entity.major}
                	</if>
                	<if test="ew.entity.summary!=null and ew.entity.summary!=''">
                    	AND u.summary=#{ew.entity.summary}
                	</if>
                	<if test="ew.entity.status!=null">
                    	AND u.status=#{ew.entity.status}
                	</if>
                	<if test="ew.entity.staffStatus!=null">
                    	AND u.staff_status=#{ew.entity.staffStatus}
                	</if>
                	<if test="ew.entity.registerTime!=null">
                    	AND u.register_time=#{ew.entity.registerTime}
                	</if>
                	<if test="ew.entity.loginTime!=null">
                    	AND u.login_time=#{ew.entity.loginTime}
                	</if>
                	<if test="ew.entity.loginIp!=null and ew.entity.loginIp!=''">
                    	AND u.login_ip=#{ew.entity.loginIp}
                	</if>
                	<if test="ew.entity.online!=null">
                    	AND u.online=#{ew.entity.online}
                	</if>
                	<if test="ew.entity.expert!=null">
                    	AND u.expert=#{ew.entity.expert}
                	</if>
        			<if test="ew.entity.createBy!=null">
        				AND u.create_by=#{ew.entity.createBy}
        			</if>
        			<if test="ew.entity.createTime!=null">
        				AND u.create_time=#{ew.entity.createTime}
        			</if>
        			<if test="ew.entity.updateBy!=null">
        				AND u.update_by=#{ew.entity.updateBy}
        			</if>
        			<if test="ew.entity.updateTime!=null">
        				AND u.update_time=#{ew.entity.updateTime}
        			</if>
        			<if test="ew.entity.delFlag!=null">
        				AND u.del_flag=#{ew.entity.delFlag}
        			</if>
        			<if test="ew.entity.remark!=null and ew.entity.remark!=''">
        				AND u.remark=#{ew.entity.remark}
        			</if>
				</if>
            	<if test="ew!=null and ew.sqlSegment!=null and ew.notEmptyOfWhere">
                	${ew.sqlSegment}
            	</if>
			</if>
        </where>
        <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">
            ${ew.sqlSegment}
        </if>
	</sql>
	
	<select id="queryList" resultType="com.shuzhuo.core.system.sys.entity.User">
		select u.*, 
		(select d.name from sys_org d where d.id = u.org_hospital_id) hospitalName,
		(select d.name from sys_org d where d.id = u.org_dept_id) deptName,
		(select di.dict_item_value from cr_dict_item di where di.id = u.job_title) jobTitleName
		from sys_user u
		<include refid="entityWrapperJoin"/>
	</select>
    
    <!-- 查询用户的所有权限 -->
	<select id="queryAllPerms" resultType="string">
		select m.perms from sys_user_role ur 
			LEFT JOIN sys_role_menu rm on ur.role_id = rm.role_id 
			LEFT JOIN sys_menu m on rm.menu_id = m.menu_id 
		where ur.user_id = #{userId}
	</select>
	
	<!-- 查询用户的所有菜单ID --> 
	<select id="queryAllMenuId" resultType="long">
		select distinct rm.menu_id from sys_user_role ur 
		LEFT JOIN sys_role_menu rm on ur.role_id = rm.role_id 
		where ur.user_id = #{userId}
	</select>
	
	<!-- 获取角色绑定的用户列表 -->
	<select id="selectRoleUserList" resultType="com.shuzhuo.core.system.sys.entity.User">
		SELECT distinct u.*,
		(select d.name from sys_org d where d.id = u.org_dept_id) deptName
		FROM sys_user_role ur
		LEFT JOIN sys_user u ON u.id = ur.user_id
		<include refid="entityWrapperJoin"/>
	</select>
	
	<!-- 获取未绑定的用户列表 -->
	<select id="selectUnbindingRoleUserList" resultType="com.shuzhuo.core.system.sys.entity.User">
		SELECT DISTINCT u.*,
		(select d.name from sys_org d where d.id = u.org_dept_id) deptName
		FROM sys_user u
		<include refid="entityWrapperJoin"/>
	</select>

	<!-- 根据角色查询用户列表 -->
	<select id="selectUserListByRole" resultMap="BaseResultMap">
		SELECT
			user.*
		FROM
			sys_role role
		LEFT JOIN sys_user_role userRole ON role.id = userRole.role_id
		LEFT JOIN sys_user USER ON USER .id = userRole.user_id
		<include refid="entityWrapperJoin"/>
	</select>
	
	<select id="selectMenuUserId" parameterType="java.lang.String" resultMap="BaseResultMap">
		SELECT ur.user_id AS id,(SELECT org_hospital_id FROM sys_user WHERE del_flag=0 AND id=ur.user_id) org_hospital_id
		FROM sys_role_menu rm,sys_user_role ur 
		WHERE rm.menu_id=(SELECT id FROM sys_menu WHERE del_flag=0 AND  CODE =#{menuCode}) 
		AND rm.role_id=ur.role_id
	</select>
	
	<select id="selectUserById" resultType="com.shuzhuo.core.system.sys.entity.User">
		select u.*, 
		(select d.name from sys_org d where d.id = u.org_dept_id) deptName
		from sys_user u
		where u.id = #{userId}
	</select>

</mapper>
